:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Centering everything */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Apple-inspired styling */
.app-header {
  padding: 1rem;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
}



/*Income / Expense container */
.income-expense-container{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 350px;
  margin: 1rem auto;
}

.income,
.expense{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.income .title,
.expense .title{
  font-size: 20px;
  color: black;
}
.income{
  color: green;
}
.expense{
  color: red;
}
.block{
  width: 2px;
  background-color: #aaa;
  border-radius: 10px;
}

.balance{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 350px;
  margin: 1rem auto;
}

.input-container{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 350px;
  margin: 1rem auto;
}
.form{
form button {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  cursor: pointer;
}

form button:hover{
  background-color: #ddd;
}
form .add-transaction{
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  cursor: pointer;
}
form .error{
  color: red;
  font-size: 12px;
  margin: 0 0 0.75rem 0;
}
}

/* Expense Item */

.expense-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #23a8806d;
  flex-grow: 1;
}


.expense-item.positive{
  border-right: 4px solid green;
}

.expense-item.negative{
  border-right: 4px solid red;
}

.expense-item-container{
  display: flex;
  align-items: center;
  margin: 1rem auto;
  max-width: 400px;
  gap: 10px;
}


.delete-btn{
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  cursor: pointer;
}

.add-transaction{
  padding: 0.5rem;
  border-radius: 4px;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  cursor: pointer;
}


